<span class="highlight-text"><slot /></span>

<style>
  .highlight-text {
    font-weight: 800;
    padding: 8px 5px;
    border: 5px solid transparent;
    border-image: linear-gradient(
      45deg,
      #ccff00 20%,
      #ff8c00 40%,
      #ff008a 80%,
      #dfa133 100%
    );
    border-image-slice: 1;
  }
</style>
