---
export interface Props {
  heading: string
}

const { heading } = Astro.props
---

<section>
  <h2 set:html={heading} />

  <div class="body">
    <slot />
  </div>

  <button class="page-top">ページトップに戻る</button>
</section>

<script>
  function handleClick() {
    window.scroll({
      top: 0,
      behavior: 'smooth',
    })
  }

  const pageTopButtons = document.querySelectorAll('.page-top')

  pageTopButtons.forEach((button) => {
    button.addEventListener('click', handleClick)
  })
</script>

<style>
  h2 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 125%;
  }
  .body {
    margin: var(--space-m) 0;
    line-height: 180%;
    > p {
      margin-bottom: 1.8rem;
    }

    & a {
      color: var(--color-text-link);
      &:hover {
        text-decoration-line: none;
      }
      &:visited {
        color: var(--color-text-link);
      }
    }
  }

  .page-top {
    color: var(--color-text-link);
    text-decoration-line: underline;
    cursor: pointer;

    &:hover {
      text-decoration-line: none;
    }
  }
</style>
