// [リンクテキスト](https://example.com) の構文に対するスタイル
.mc-anchor {
  color: var(--color-text-link);
  &:hover {
    text-decoration-line: none;
  }
  &:visited {
    color: var(--color-text-link);
  }
}

// 段落(paragraph)ごとの余白
.mc-paragraph {
  margin-bottom: 1.8rem;
}
