---
import ContentBox from '../shared/ContentBox.astro'
---

<ContentBox heading="1分でわかる<br />SmartHR開発環境のイマ" largeSpace>
  <div class="content">
    <h2>0→1から10→100まで、さまざまなフェーズのプロダクトがあります</h2>
    <p>
      SmartHRでは既存事業の拡大のみでなく、新規事業にも積極的に投資しています。現在はおおよそ年に2、3個くらいのペースで新規プロダクトをリリースしていますが、今後はさらにリリースサイクルを加速していきたいと考えています。既存事業についても、運用をしているというフェーズではなく、顧客からの要望に応えて新機能をガンガン開発しており、やりたいことは山盛りという状態です。
    </p>
    <h2>ユーザーの声に触れつつ、長期的にプロダクトに携わることができます</h2>
    <p>
      SmartHRはバリューに「人が欲しいと思うものをつくろう」と掲げている通り、顧客の本質的な課題の解決をとても大切にしています。そのためにユーザーヒアリングを行ったり、セールス
      / カスタマーサクセス /
      チャットサポートのチームからフィードバックを受けたり、時にはユーザーコミュニティの方々からお話をうかがったりしています。また、SaaSビジネスの特性上プロダクトの永続性が高いため、長期的な目線でプロダクト開発に携わることができます。
    </p>
    <h2>
      十数個のアプリが動く基盤を開発中、サードパーティ向けのアプリストアも提供中
    </h2>
    <p>
      SmartHRはユーザーから見るとひとつのアプリケーションですが、裏側では十数個の小さなアプリケーションが動いています。それらが今後も高速でスケールしていけるように
      SmartHRではリアーキテクトに取り組み始めており、権限基盤の構築やアプリケーションを横断したデータ参照機構の開発など、面白い技術課題がたくさん転がっています。また、サードパーティ向けにもSmartHRの基盤を開放し始めており、社外のステークホルダーにとっても魅力的なプラットフォームをつくるというチャレンジも並行して進んでいます。
    </p>
  </div>
</ContentBox>

<style>
  .content {
    & h2 {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 134%;

      &:not(:first-child) {
        margin-top: var(--space-2xl);
      }
    }

    & p {
      margin-top: var(--space-m);
    }
  }
</style>
