---
import ContentBox from '../shared/ContentBox.astro';
import Stack from '../shared/Stack.astro';
---

<ContentBox heading="会社紹介資料">
  <Stack>
    <p>
      SmartHRの全職種向け採用資料です。エンジニア採用サイトには、この資料では触れられていないエンジニア向けの情報を記載しています。
    </p>
    <iframe
      allowfullscreen="true"
      class="speakerdeck-iframe"
      data-ratio="1.7777777777777777"
      frameborder="0"
      src="https://speakerdeck.com/player/463abd98c2644fd1b6ac88216b7572f9"
      style="border: 0; background: padding-box padding-box rgb(0, 0, 0, 0.1); margin: 0; padding: 0; border-radius: 6px; box-shadow: rgb(0, 0, 0, 0.2) 0 5px 40; width: 100%; height: auto; aspect-ratio: 560 / 315;"
      title="株式会社SmartHR_会社紹介資料"></iframe>
  </Stack>
</ContentBox>
