---
import SectionWrapper from '../shared/SectionWrapper.astro'
import Stack from '../shared/Stack.astro'
import TextLink from '../shared/TextLink.astro'
---

<SectionWrapper heading="会社紹介資料">
  <Stack>
    <p>SmartHRの全職種向け採用資料です。エンジニア採用サイトには、この資料では触れられていないエンジニア向けの情報を記載しています。</p>
    <p>
      <TextLink href="https://speakerdeck.com/miyasho88/we-are-hiring">会社紹介資料を見る</TextLink>
    </p>
  </Stack>
</SectionWrapper>
