---
import SectionWrapper from '../shared/SectionWrapper.astro'
import Stack from '../shared/Stack.astro'
import TextLink from '../shared/TextLink.astro'
---

<SectionWrapper heading="会社紹介資料">
  <Stack>
    <p>
      SmartHRの全職種向け採用資料です。エンジニア採用サイトには、この資料では触れられていないエンジニア向けの情報を記載しています。
    </p>
    <p>
      <iframe
        class="speakerdeck-iframe"
        frameborder="0"
        src="https://speakerdeck.com/player/e20c6467299e4c1ca07ad14064a89d74"
        title="SmartHR会社紹介資料  / We are hiring"
        allowfullscreen="true"
        style="border: 0px; background: padding-box padding-box rgba(0, 0, 0, 0.1); margin: 0px; padding: 0px; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px; width: 100%; height: auto; aspect-ratio: 560 / 315;"
        data-ratio="1.7777777777777777"
      ></iframe>
    </p>
  </Stack>
</SectionWrapper>
