---
import SectionWrapper from '../shared/SectionWrapper.astro'
import Stack from '../shared/Stack.astro'
---

<SectionWrapper heading="はじめに">
  <Stack>
    <p>
      SmartHRは「well-working.
      労働にまつわる社会課題をなくし、誰もがその人らしく働ける社会をつくる」というコーポレートミッションを掲げ、日々挑戦し、失敗し、適応し、進化し続けています。
    </p>
    <p>
      しばしば「SmartHRはプロダクトも組織も完成していて、もうやることがなさそう」という声をいただくことがありますが、決してそんなことはありません。現時点で見据えている目標に対してすら、進捗は
      10% ほど。
    </p>
    <p>
      SmartHRは、社会の仕組みを変え、歴史に残る模範的なソフトウェアをつくる仲間を探しています。
    </p>
  </Stack>
</SectionWrapper>
