---
import ContentBox from '../shared/ContentBox.astro';
import Stack from '../shared/Stack.astro';
---

<ContentBox heading="開発組織について">
  <Stack>
    <p>SmartHR開発組織の構造や開発プロセスなどをご紹介します。</p>
    <iframe
      style="border: 1px solid rgba(0, 0, 0, 0.1);"
      width="800"
      height="450"
      src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FHFNrUtz5Bf1c52YABCxxrY%2FSmartHR-%25E9%2596%258B%25E7%2599%25BA%25E7%25B5%2584%25E7%25B9%2594%25E3%2581%25AB%25E3%2581%25A4%25E3%2581%2584%25E3%2581%25A6%3Ftype%3Dwhiteboard%26node-id%3D0%253A1%26t%3DThtbWzDUnnJKDUeP-1"
      allowfullscreen></iframe>
  </Stack>
</ContentBox>
