---
import SectionWrapper from '../shared/SectionWrapper.astro'
import Stack from '../shared/Stack.astro'
---

<SectionWrapper heading="開発組織について">
  <Stack>
    <p>
      SmartHR開発組織の構造や開発プロセスなどをご紹介します。
    </p>
    <iframe
      width="100%"
      height="432"
      src="https://miro.com/app/embed/uXjVMhWKJjw=/?embedId=954898660000&autoplay=yep"
      frameborder="0"
      scrolling="no"
      allow="fullscreen; clipboard-read; clipboard-write"
      allowfullscreen
    ></iframe>
  </Stack>
</SectionWrapper>
