---
import ContentBox from '../shared/ContentBox.astro';
import Stack from '../shared/Stack.astro';
import Accordion from '../shared/Accordion.astro';
---

<ContentBox heading="開発組織のバリュー">
  <Stack>
    <p>
      SmartHRのバリューがプロダクト開発の文脈でどのように体現しているかをご紹介します。
    </p>
    <Stack>
      <h3>光: まずやってみる人がカッコイイ</h3>
      <p>
        SmartHRが重視しているのは、フィードバックを受けるまでの早さです。
        仮説検証サイクルの高速化によって、本質的な課題解決に至る早さに大きな違いを生むと考えています。
        そのために、コードも、デザインも、プロダクトも、早く軌道修正できるように、小さく作ってフィードバックを受けるようにしています。
        私たちは「完璧」を目指して動けなくなるより、「まずやってみる」ことで学び、進化していくことを大切にしています。
      </p>
      <Accordion title="良い事例・これはNG">
        <p class="case-title">👍良い事例</p>
        <ul class="case-list">
          <li>
            未知・未経験の領域に対しても失敗を恐れず、当事者意識を持って挑戦する
          </li>
          <li>議論を丸投げにせず、自分の意見を持って意思決定をリードする</li>
          <li>できない理由ではなく、どうすればできるか考える</li>
          <li>
            無駄な議論を続けず決める、決めるための判断材料が足りなければ取りに行く
          </li>
          <li>小さく検証してフィードバックを受け、軌道修正しながら進める</li>
          <li>まずたたきを作って議論できるようにする</li>
          <li>もっと速くできる方法がないか模索する</li>
          <li>目的に対して過剰な品質になっていないか疑う</li>
          <li>リスクを見極めるために相談しながら動く</li>
          <li>失敗から学び、次に活かす</li>
          <li>挑戦する人を応援する、助ける</li>
        </ul>
        <p class="case-title">🙅‍♂️これはNG</p>
        <ul class="case-list">
          <li>挑戦の機会を避ける、自ら作ろうとしない</li>
          <li>必要以上に合議制にこだわる、他者の判断に委ねる</li>
          <li>自分で決めるべきときに人に頼ってしまう</li>
          <li>小さく検証せず軌道修正が遅れる</li>
          <li>
            必要以上に一人で考えすぎて動き出しが遅い、最初から完璧を目指して作り込みすぎる
          </li>
          <li>たたきを作る人に感謝しない、褒めない</li>
          <li>こだわりすぎて本質的でないことに時間を使ってしまう</li>
          <li>メインのミッションをおろそかにして、やりたいことばかりやる</li>
          <li>リスクを考えずとりあえず動く、相談しない</li>
          <li>同じ失敗を繰り返す</li>
          <li>挑戦する人のやる気を削ぐ、助けない</li>
        </ul>
      </Accordion>
    </Stack>
    <Stack>
      <h3>偉業: 人が欲しいものを超えよう</h3>
      <p>
        人が欲しいと思うものをつくるために、プロダクトには開発チームだけで向き合うのではなく、セールス、カスタマーサクセス、カスタマーサポートといったさまざまな職種の方々と協働しています。
        あらゆる角度から、顧客が抱いている不満はなにか、どこに満足いただいているのか、ということを知り、エンジニアとして技術を使った先に顧客にどんな価値を提供できるのかを常に考えています。
        私たちは表面的な要求を超え、本質的な課題を解決することで、真に価値あるプロダクトを創造する使命を持っています。
      </p>
      <Accordion title="良い事例・これはNG">
        <p class="case-title">👍良い事例</p>
        <ul class="case-list">
          <li>関係者の期待を正しく捉えるために、事実や意見を集める</li>
          <li>期待や要望を伝え合う</li>
          <li>
            言われたことだけでなく、相手が本当に必要なものを考えて提供する
          </li>
          <li>会社や事業にとっての優先度を見極めて行動する</li>
          <li>短期的な成果だけでなく、中長期の成果も考えて動く</li>
          <li>環境の変化に合わせて自らを変化・成長させている</li>
          <li>必要に応じて職種や部署の枠を超えて行動する</li>
          <li>
            今あるものが最適とは考えず、常に現状を疑い、あるべき姿から考える
          </li>
          <li>時には人が感動するレベルのものを提供する</li>
          <li>ホームランを狙う</li>
        </ul>
        <p class="case-title">🙅‍♂️これはNG</p>
        <ul class="case-list">
          <li>自分の主観だけで判断する</li>
          <li>
            課題やニーズから考えず、自分のやりたいことや、できることベースで考える
          </li>
          <li>期待や要望を伝えない、伝わっているか確認しない</li>
          <li>そもそもの目的を問わず、言われたことだけをやる</li>
          <li>会社や事業への貢献が薄いことに時間を費やす</li>
          <li>短期的な成果だけ考えて動く</li>
          <li>自分の職種や部署に閉じこもる、越境を歓迎しない</li>
          <li>現状を疑わないまま過去のやり方や仕組みを踏襲し続ける</li>
          <li>自己研鑽せず現状維持にとどまる</li>
          <li>最善を目指さず、無難なレベルで満足する</li>
        </ul>
      </Accordion>
    </Stack>
    <Stack>
      <h3>象: ためらう時こそ口にしよう</h3>
      <p>
        組織がスケールするのに合わせて組織の処理能力もスケールするように、自己管理型のチームを作り、チームでプロダクトの優先度を判断し、チームで自分たちの開発プロセスの課題に気づき、自ら改善するというサイクルを回しています。
        すべての根幹には、自ら課題を発見して周囲を巻き込み解決できる自律駆動する個人があり、SmartHRはそんな個人が力を発揮できる環境を全力で作っています。
        そのためには、立場や関係性にとらわれず、率直に意見を交わし、建設的なフィードバックを通じて互いに成長していくことが不可欠なのです。
      </p>
      <Accordion title="良い事例・これはNG">
        <p class="case-title">👍良い事例</p>
        <ul class="case-list">
          <li>最適解に辿り着くための意見の衝突を避けない</li>
          <li>異論を歓迎する</li>
          <li>意見を出しやすい場作りや関係性作りをしている</li>
          <li>立場や関係性にとらわれず、フラットに意見を言い合う</li>
          <li>
            相手や会社の成長を考え、批判や指摘に留まらず建設的なフィードバックをする
          </li>
          <li>コトだけでなく、ヒトにも向き合い、気持ちを伝え合う</li>
          <li>ポジティブなフィードバックを積極的に伝える</li>
          <li>相手に敬意を持ち、ギャップフィードバックも伝える</li>
          <li>ギャップフィードバックを真摯に受け止める</li>
          <li>率先してフィードバックをもらい、受け入れ、改善する</li>
          <li>認識のズレがないかを確認し、ズレがあれば自ら埋める</li>
          <li>そもそもズレが生まれないように背景や意図を具体的に伝える</li>
        </ul>
        <p class="case-title">🙅‍♂️これはNG</p>
        <ul class="case-list">
          <li>言ったほうが良いこと、良いかもしれないことを言わない</li>
          <li>意見を求めない、異なる意見を排除する</li>
          <li>相手への尊敬や配慮を欠いたフィードバックをする</li>
          <li>成長や成果に繋がりづらい、非建設的な批判や指摘をする</li>
          <li>ギャップフィードバックばかりして褒めない</li>
          <li>フィードバックする方向や関係性が限られている</li>
          <li>コトだけに向き合い、ヒトの成長を助けない、感情にフタをする</li>
          <li>
            耳の痛いフィードバックを受け入れない、受け入れても行動を改善しない
          </li>
          <li>フィードバックをもらいにいかない</li>
          <li>背景や意図の説明が不足し、ズレを生み出してしまう</li>
        </ul>
      </Accordion>
    </Stack>
  </Stack>
</ContentBox>

<style>
  & h3 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 134%;
  }

  .case-title {
    font-size: 0.9rem;
    font-weight: 800;
    padding-bottom: var(--space-xs);
  }
  .case-title:not(:first-of-type) {
    padding-top: var(--space-m);
  }
  .case-list {
    list-style-type: ' ・ ';
    margin-left: var(--space-m);
  }
</style>
