---
import SectionWrapper from '../shared/SectionWrapper.astro'
import Stack from '../shared/Stack.astro'
---

<SectionWrapper heading="開発組織のバリュー">
  <Stack>
    <p>テスト</p>
  </Stack>
</SectionWrapper>
