---
import SectionWrapper from '../shared/SectionWrapper.astro'
import TextLink from '../shared/TextLink.astro'
import HighlightText from '../shared/HighlightText.astro'
import Stack from '../shared/Stack.astro'
import Accordion from '../shared/Accordion.astro'
---

<SectionWrapper heading="開発組織のバリュー">
  <Stack>
    <p>
      SmartHR は<TextLink href="https://smarthr.co.jp/about/">
        7つのバリュー
      </TextLink>を掲げています。その中から3つピックアップして、プロダクト開発の文脈でどのように体現しているかをご紹介します
    </p>
    <Stack>
      <h2>自律駆動</h2>
      <p>
        「100個の問題を社長1人が解くのではなく、100個の問題を100人で1問ずつ解く」というのは創業者の宮田さんの言葉です。SmartHR
        では組織がスケールするのに合わせて組織の処理能力もスケールするように、個人やチームに多くの権限が移譲されています。ユーザーに近い現場の目線でプロダクトやプロセスを改善する。それを実現するために自己管理型のチームを作り、チームでプロダクトの投資優先度を判断し、チームで自分たちの開発プロセスの課題に気づき、自ら改善するというサイクルを回しています。すべての根幹には、自ら課題を発見して周囲を巻き込み解決できる自律駆動する個人があり、SmartHR
        はそんな個人が力を発揮できる環境を全力で作っています
      </p>
      <p><HighlightText>直近１ヶ月で寄せられた要望数: 123件</HighlightText></p>
      <Accordion title="良い事例・これはNG">WIP: コンテンツ</Accordion>
    </Stack>
    <Stack>
      <h2>早いほうがカッコイイ</h2>
      <p>
        Slack でレスをするのも、コードを書くのも、Pull Request
        のレビューをするのも、なんだって早いほうがカッコイイものです。中でも特に
        SmartHR
        が重視しているのは、フィードバックを受けるまでの早さです。コードも、デザインも、プロダクトも、あらゆるものをなるべく早く軌道修正できるように、小さく作ってフィードバックを受けるようにしています。その小さな早さの違いが、仮説検証サイクルの高速化につながり、本質的な課題解決に至る早さにおいて大きな違いを生むと考えています
      </p>
      <p><HighlightText>直近１ヶ月で寄せられた要望数: 123件</HighlightText></p>
      <Accordion title="良い事例・これはNG">WIP: コンテンツ</Accordion>
    </Stack>
    <Stack>
      <h2>人が欲しいと思うものをつくろう</h2>
      <p>
        人が欲しいと思うものをつくる。ものづくりをする人間であれば誰もが実現したい理想であり、そして実現することが困難な理想でもあります。SmartHR
        はそんな困難に立ち向かうために、プロダクト開発チームだけで向き合うのではなく、セールス、カスタマーサクセス、カスタマーサポートといった様々な職種の方々と協働しています。あらゆる角度から、顧客が抱いている不満はなにか、どこに満足いただいているのか、ということを知ろうとしています。SmartHR
        の開発組織では、エンジニアとして技術を使った先に顧客にどんな価値が提供できるのかを常に考えています
      </p>
      <p><HighlightText>直近１ヶ月で寄せられた要望数: 123件</HighlightText></p>
      <Accordion title="良い事例・これはNG">WIP: コンテンツ</Accordion>
    </Stack>
  </Stack>
</SectionWrapper>

<style>
  & h2 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 134%;
  }
</style>
