---
import ContentBox from '../shared/ContentBox.astro'
---

<ContentBox heading="福利厚生" largeSpace>
  <div class="content">
    <h3>リモートワーク</h3>
    <p>
      日本国内ならどこからでもリモートワークで働くことができます。コアタイムなしのフレックスタイム制を採用しており、柔軟な働き方が可能です。リモートワークを始める際にはリモートワーク環境を整える手当もあります。遠方に住む方は、月2回まで東京オフィスへの交通費を全額経費精算できます。
    </p>
    <h3>ライフ・ワーク・バランス</h3>
    <p>
      仕事もプライベートも、どちらも大切。フレックスタイム制、"入社日に"15日の有給付与、副業許可制度、出産＆育児休暇制度、など各種制度を用意。
    </p>
    <h3>勉強会参加支援</h3>
    <p>
      勉強会への参加費は会社負担。遠方の場合は、交通費および宿泊費も支援。業務として扱うため、休日の場合は振替休日を付与。RubyKaigiへの参加ももちろん対象です。
    </p>
    <h3>ツール導入し放題</h3>
    <p>
      JetBrainsの有償IDEやGitHub
      Copilotといった生産性向上のためのツールは積極的に導入。個人利用も可能な1Passwordアカウントは全員に付与。
    </p>
  </div>
</ContentBox>

<style>
  .content {
    & h3 {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 134%;

      &:not(:first-child) {
        margin-top: var(--space-2xl);
      }
    }

    & p {
      margin-top: var(--space-m);
    }
  }
</style>
