---
import SectionWrapper from '../shared/SectionWrapper.astro'
---

<SectionWrapper heading="福利厚生" largeSpace>
  <div class="content">
    <h2>リモートワーク</h2>
    <p>
      日本国内ならどこからでもリモートワークで働くことができます。コアタイムなしのフレックスタイム制を採用しており、柔軟な働き方が可能です。リモートワークを始める際にはリモートワーク環境を整える手当もあります。
    </p>
    <h2>ライフ・ワーク・バランス</h2>
    <p>
      仕事もプライベートも、どちらも大切。フレックスタイム制、"入社日に"15日の有給付与、副業許可制度、出産＆育児休暇制度、など各種制度を用意。
    </p>
    <h2>勉強会参加支援</h2>
    <p>
      勉強会への参加費は会社負担。遠方の場合は、交通費および宿泊費も支援。業務として扱うため、休日の場合は振替休日を付与。RubyKaigiへの参加ももちろん対象です。
    </p>
    <h2>ツール導入し放題</h2>
    <p>
      JetBrainsの有償IDEやParallels・Charlesといった検証用ソフトウェアなど、効率化のためのツールは
      (ほぼノールックで！)
      積極的に導入。個人利用も可能な1Passwordアカウントは全員に付与。
    </p>
  </div>
</SectionWrapper>

<style>
  .content {
    & h2 {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 134%;

      &:not(:first-child) {
        margin-top: var(--space-2xl);
      }
    }

    & p {
      margin-top: var(--space-m);
    }
  }
</style>
