---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout>
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>

    <section>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br
        />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
        above.
      </p>
    </section>

    <section>
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
    </section>

    <section>
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
    </section>

    <section>
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
    </section>

    <section>
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </section>
  </main>
</Layout>

<style>
  main {
    max-width: 640px;
    margin: 0 auto;
    padding: var(--space-l) var(--space-s);

    > section {
      margin-top: calc(var(--space-s) * 6);
    }
  }
</style>
