---
import font from '/fonts/DINAlternate-Bold.woff';
---

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width" name="viewport" />
  <meta content={Astro.generator} name="generator" />
  <meta
    content="株式会社SmartHRのエンジニア採用サイトです。私たちは、誰もが心地よく、健康に、そして幸せに働ける社会を目指し、テクノロジーと創意工夫で、日本の労働を一歩ずつアップデートしています。歴史に残る模範的なソフトウェアを一緒に作りませんか？"
    name="description"
  />
  <meta content="SmartHR エンジニア採用" property="og:title" />
  <meta content="website" property="og:type" />
  <meta content="https://hello-world.smarthr.co.jp" property="og:url" />
  <meta
    content="https://hello-world.smarthr.co.jp/images/ogp.png"
    property="og:image"
  />
  <meta content="Engineer Recruiting | SmartHR" property="og:site_name" />
  <meta
    content="株式会社SmartHRのエンジニア採用サイトです。私たちは、誰もが心地よく、健康に、そして幸せに働ける社会を目指し、テクノロジーと創意工夫で、日本の労働を一歩ずつアップデートしています。歴史に残る模範的なソフトウェアを一緒に作りませんか？"
    property="og:description"
  />
  <meta content="summary_large_image" name="twitter:card" />
  <meta content="SmartHR エンジニア採用" name="twitter:title" />
  <meta content="@SmartHR_jp" name="twitter:site" />
  <link href="/favicon/favicon.ico" rel="icon" />
  <link as="font" crossorigin href={font} rel="preload" type="font/woff2" />
  <link
    href="/favicon/apple-touch-icon.png"
    rel="apple-touch-icon"
    sizes="180x180"
  />
  <title>SmartHR エンジニア採用</title>
  <script
    src="https://www.googletagmanager.com/gtag/js?id=GTM-PZL8HM7V"
    type="text/partytown"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'GTM-PZL8HM7V');
  </script>
</head>
